@model BusBoardViewModel
@{
    ViewData["Title"] = "Busboard";
}

<div>
    <h1>Bus Board</h1>
</div>

<div>
    @using (Html.BeginForm("BusBoard","Home", FormMethod.Get)) 
    {
        <fieldset>
            <legend>Find the next busses near you</legend>
            <div>
                <label for="postcode">Enter you postcode:</label>
                @Html.TextBoxFor(m => m.Postcode)
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </fieldset>
    }

    @if (Model != null)
    {
        <p>@Model.Postcode</p>
    }
</div>